/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Comfortaa:wght@300..700&family=Kalam:wght@300;400;700&family=Kanchenjunga:wght@400;500;600;700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items {
  @apply absolute top-20 block;
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1e293b;
  transition: left 0.3s ease;
  z-index: -1;
  border-radius: 5px;
}

.btn:hover::before {
  left: 0;
}

li {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #1e293b; /* slate-800 */
  transition: width 0.3s ease;
}

li a:hover::before,
li a.active::before {
  width: 100%;
}

.label-p::after {
  content: "Frontend Developer"; /* teks terpanjang dari semua teks */
  visibility: hidden;
  display: inline-block;
  pointer-events: none;
  user-select: none;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
  font-weight: bold;
  color: #1e293b;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.project-card {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.project-card::before {
  content: attr(data-label);
  @apply absolute top-1/2 left-1/2 
    translate-x-[-50%] translate-y-full
    text-white font-bold text-center
    flex items-center justify-center
    w-full h-full bg-slate-800/70
    transition duration-300 ease-in-out;
}

.project-card:hover::before {
  @apply translate-y-[-50%];
}
